matplotlib==2.2.2
numpy==1.14.5
pandas==0.23.3

nbviewer網址
http://nbviewer.jupyter.org/github/Garnet112/X-Village-HW1/blob/master/Obesity%20and%20Exercise.ipynb

這是一個關於過重人口的專案
顯示出在2008年~2013年間男女過重人口所占百分比逐年上升
並且在最後附上各項運動能夠消耗的熱量
希望能對他們有所幫助

前兩項資料各為男女過重人口所占百分比
皆以折線圖表示
男性折線圖的原點以橘色表示
女性則以紅色
橫軸皆是年分
縱軸皆是百分比

第三項資料則為各種運動所能消耗的熱量
以柱狀圖表示
橫軸代表各種運動
縱軸代表所能消耗的卡路里
